<?xml version="1.0" encoding="utf-8"?>
<Media Key="f583c924-bff0-4195-be17-2e9323449038" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="37611305-853d-42b7-a215-5ffe8b94224c">Service items</Parent>
    <Path>/ServiceItems/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T18:40:44</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0z0ccf5l/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>