<?xml version="1.0" encoding="utf-8"?>
<Media Key="c179c5a6-efab-4ac9-8f77-5d525e6d44ef" Alias="Big-Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BigMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T21:58:25</CreateDate>
    <NodeName Default="Big-Map.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kr2nwi3q/big-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>