<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a390dfd-4927-4519-9e17-65e26fe31360" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="37611305-853d-42b7-a215-5ffe8b94224c">Service items</Parent>
    <Path>/ServiceItems/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T18:40:38</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b4yjxsb2/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>