<?xml version="1.0" encoding="utf-8"?>
<Media Key="a858f722-7ec7-4900-93db-fc4956e32d60" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="bb5c377a-9389-4e99-94c3-49dc3e50db73">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T14:12:23</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0bfpusw2/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>