<?xml version="1.0" encoding="utf-8"?>
<Media Key="57130772-0078-446d-95e4-81b220230fc1" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="bb5c377a-9389-4e99-94c3-49dc3e50db73">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T14:11:19</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qc3ldnld/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>