<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad6f9fcc-b883-4f21-8707-6a9b3bb57d72" Alias="Contact-Person.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactPersonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T00:00:46</CreateDate>
    <NodeName Default="Contact-Person.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hyrm0t2y/contact-person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>