<?xml version="1.0" encoding="utf-8"?>
<Media Key="8576a849-65b8-49db-a1b5-06b403e02729" Alias="Dot-Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:18:38</CreateDate>
    <NodeName Default="Dot-Map.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xmkniz3d/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>