<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd3461b9-6017-4b89-8d94-82741f790771" Alias="Dot-List.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotListsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T02:14:37</CreateDate>
    <NodeName Default="Dot-List.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpojmxym/dot-list.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>