<?xml version="1.0" encoding="utf-8"?>
<Media Key="53266130-0d72-4185-8f11-79452f194526" Alias="Fossil-Group.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FossilGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:46:44</CreateDate>
    <NodeName Default="Fossil-Group.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yloijmlj/fossil-group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>