<?xml version="1.0" encoding="utf-8"?>
<Media Key="151665dc-ec3a-4a2a-aa2c-f100e633dc30" Alias="Freedom-Bird.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FreedomBirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:46:39</CreateDate>
    <NodeName Default="Freedom-Bird.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1mlj3zb/freedom-bird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>