<?xml version="1.0" encoding="utf-8"?>
<Media Key="59fbec0d-997a-4486-b0b4-21a848e38616" Alias="Globe-Logga.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeLoggasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:46:49</CreateDate>
    <NodeName Default="Globe-Logga.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/53ifto1b/globe-logga.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>