<?xml version="1.0" encoding="utf-8"?>
<Media Key="f548bd4a-3906-4aeb-8cde-acef4fe7028c" Alias="Globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T02:51:42</CreateDate>
    <NodeName Default="Globe.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xaaoufy3/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>