<?xml version="1.0" encoding="utf-8"?>
<Media Key="084be213-6ca0-480f-a78c-e34182a47e6f" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-18T19:39:26</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2fppt0v1/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>