<?xml version="1.0" encoding="utf-8"?>
<Media Key="d267c3f6-dbe7-405b-ad84-0c6badf52f74" Alias="Home-Hero.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-18T20:02:29</CreateDate>
    <NodeName Default="Home-Hero.svg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ar5mkmh2/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>