<?xml version="1.0" encoding="utf-8"?>
<Media Key="0001dca1-6632-49ed-b63f-c866772a06e6" Alias="Icon-Mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconMailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T01:53:07</CreateDate>
    <NodeName Default="Icon-Mail.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/knqlhyrj/icon-mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>