<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d020a2c-3c40-4129-8051-7a48fdde6e47" Alias="Identity.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:47:08</CreateDate>
    <NodeName Default="Identity.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/101lb501/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>