<?xml version="1.0" encoding="utf-8"?>
<Media Key="9554785e-ba78-4584-a92e-98d3f00dbc17" Alias="Main-Image2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T01:55:02</CreateDate>
    <NodeName Default="Main-Image2.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vtcpm31d/main-image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>