<?xml version="1.0" encoding="utf-8"?>
<Media Key="78d168e2-2104-48ce-be87-62fded3d1174" Alias="Main-Image1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T01:53:40</CreateDate>
    <NodeName Default="Main-Image1.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cdkhhgq5/main-image1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>