<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f44bf27-54b1-489a-a4bd-6a35e90e873f" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="bb5c377a-9389-4e99-94c3-49dc3e50db73">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T14:10:44</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ubon1nk/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>