<?xml version="1.0" encoding="utf-8"?>
<Media Key="96ff809d-c469-4ef3-a73f-0a00ef38f8a6" Alias="Natural.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:47:32</CreateDate>
    <NodeName Default="Natural.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n24f03ds/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>