<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb81e42d-c26f-423c-a527-1e2d21b9245c" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T00:20:34</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/13mdgglu/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>