<?xml version="1.0" encoding="utf-8"?>
<Media Key="3010dd4e-679b-423c-b905-a311ada73785" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="37611305-853d-42b7-a215-5ffe8b94224c">Service items</Parent>
    <Path>/ServiceItems/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T18:39:17</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xrqlfuua/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>