<?xml version="1.0" encoding="utf-8"?>
<Media Key="37611305-853d-42b7-a215-5ffe8b94224c" Alias="Service items" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceItems</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-19T18:39:11</CreateDate>
    <NodeName Default="Service items" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>