<?xml version="1.0" encoding="utf-8"?>
<Media Key="8648f655-03ae-4b84-a017-4c76a459b654" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T02:09:28</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u3fpuzfv/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>