<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2153634-c351-4ca2-a565-e6718cb57390" Alias="Simpleaf.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:47:20</CreateDate>
    <NodeName Default="Simpleaf.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y0floack/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>