<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e6d35a7-905d-4d1d-819d-fdbd5a3af4cb" Alias="Staff-Member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StaffMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T00:20:22</CreateDate>
    <NodeName Default="Staff-Member.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kwem41cg/staff-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>