<?xml version="1.0" encoding="utf-8"?>
<Media Key="32dc4ec1-e505-42ae-ace5-83f50111f850" Alias="Staff.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Staffsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T02:52:07</CreateDate>
    <NodeName Default="Staff.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gpzh3ua4/staff.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>