<?xml version="1.0" encoding="utf-8"?>
<Media Key="943422e6-2cea-453a-9cda-ecb85e281661" Alias="Tax-and-Trusts.svg" Level="2">
  <Info>
    <Parent Key="37611305-853d-42b7-a215-5ffe8b94224c">Service items</Parent>
    <Path>/ServiceItems/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T18:40:49</CreateDate>
    <NodeName Default="Tax-and-Trusts.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cspjm3xr/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>