<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb5c377a-9389-4e99-94c3-49dc3e50db73" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-19T14:07:14</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>