<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0272aa2-d685-4335-8dcd-b3053d90d113" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="bb5c377a-9389-4e99-94c3-49dc3e50db73">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-19T14:10:37</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kcljkuu4/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>