<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5ca63fa-9ede-45f5-bee6-07f2c8ce780b" Alias="Tina-Fox-Large.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxLargesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T23:41:45</CreateDate>
    <NodeName Default="Tina-Fox-Large.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bdpgqn4f/tina-fox-large.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>