<?xml version="1.0" encoding="utf-8"?>
<Media Key="1007fef1-eab8-48a8-9fa6-d230754417d0" Alias="Video-Meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-20T17:18:54</CreateDate>
    <NodeName Default="Video-Meeting.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/anbll2vd/video-meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>