<?xml version="1.0" encoding="utf-8"?>
<Media Key="74246840-e78b-4b90-a126-4daa5fff7a1f" Alias="Video-Conference-Image.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoConferenceImagesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T01:52:22</CreateDate>
    <NodeName Default="Video-Conference-Image.svg (1)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wlkjnfuq/video-conference-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>