<?xml version="1.0" encoding="utf-8"?>
<Media Key="34ce0fe2-186c-4df5-a2b1-3e98129f09cc" Alias="Video-Conference-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoConferenceImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-21T01:50:46</CreateDate>
    <NodeName Default="Video-Conference-Image.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cczgzvtx/video-conference-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>