<?xml version="1.0" encoding="utf-8"?>
<Content Key="487fc07b-8f18-40f7-a089-be95894798ba" Alias="About" Level="2">
  <Info>
    <Parent Key="2a79aebf-ab44-4a88-b3e0-539aa3178f0f">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-19T14:15:04</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f39b6d2f-42e7-46fb-a8f0-9eab61a76a3d">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e1df1416-0165-4af2-bcd3-f67052018e35",
      "key": "d821ec20-1c24-4006-a711-82b16b5b3f8e",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003Cbr\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "e03c6010-1307-42c6-924c-e16ae90546b2",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a26fde83-a608-4f55-a282-d1f40f622d75",
                        "mediaKey": "57130772-0078-446d-95e4-81b220230fc1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "c561983a-c749-4a1b-86ab-8aaf884220f9",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "929c3426-16cf-4c16-9ff4-c832f871eefe",
                        "mediaKey": "7629c545-d687-442f-bf17-3565f08d6510",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "1863d8e8-27fa-4c37-89f7-70daacbc1736",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5c5f6634-bc8b-41e8-af8b-38753444e65d",
                        "mediaKey": "25ab7995-dfd4-4978-9222-8575d9cbd67d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "6e465663-3371-4dde-9c07-a3f8643b5f78",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f194e335-e2c6-4e08-b4ed-140d4394a2c9",
                        "mediaKey": "b0272aa2-d685-4335-8dcd-b3053d90d113",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "f0a4ef74-3b7d-40c6-a165-22b1d51c0f34",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1137e4a0-65aa-41cf-94b1-0fbf78600064",
                        "mediaKey": "a858f722-7ec7-4900-93db-fc4956e32d60",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "fc0363ee-2781-420a-9f0a-0aa54ce5c2f2",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bda6dabc-6fc2-47e7-ad7d-3f54ef67a96d",
                        "mediaKey": "0f44bf27-54b1-489a-a4bd-6a35e90e873f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
                "key": "a8e3e7c8-1cae-44cc-a31b-69ee1bf235ef",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "91b083e1-3666-4dda-b65d-95810f444189",
                        "mediaKey": "5faf26cb-bd44-4640-9922-3b2ea75f143e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e03c6010-1307-42c6-924c-e16ae90546b2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c561983a-c749-4a1b-86ab-8aaf884220f9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1863d8e8-27fa-4c37-89f7-70daacbc1736",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6e465663-3371-4dde-9c07-a3f8643b5f78",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f0a4ef74-3b7d-40c6-a165-22b1d51c0f34",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fc0363ee-2781-420a-9f0a-0aa54ce5c2f2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a8e3e7c8-1cae-44cc-a31b-69ee1bf235ef",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e03c6010-1307-42c6-924c-e16ae90546b2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c561983a-c749-4a1b-86ab-8aaf884220f9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1863d8e8-27fa-4c37-89f7-70daacbc1736",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6e465663-3371-4dde-9c07-a3f8643b5f78",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f0a4ef74-3b7d-40c6-a165-22b1d51c0f34",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fc0363ee-2781-420a-9f0a-0aa54ce5c2f2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a8e3e7c8-1cae-44cc-a31b-69ee1bf235ef",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56939161-5419-4958-9e2c-acb41cb12ea8",
      "key": "08c82421-5341-476e-9131-ef8af666ff43",
      "udi": null,
      "values": [
        {
          "alias": "email",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "phone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "officeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a0e8c9e5-3662-4966-a212-a1787e476f93",
              "mediaKey": "ad6f9fcc-b883-4f21-8707-6a9b3bb57d72",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "978d0299-9f86-4b9a-bab2-9ac7976bc195",
      "key": "2988582b-ae31-4156-829b-74d6dde234e3",
      "udi": null,
      "values": [
        {
          "alias": "bannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        }
      ]
    },
    {
      "contentTypeKey": "6cefb0c8-1289-44a4-8bb7-0a1427188f27",
      "key": "a2365101-4841-4ed5-b234-39ac15b77353",
      "udi": null,
      "values": [
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "35240e91-2bc9-4130-b9fe-2cf6a2b2a465",
              "mediaKey": "d5ca63fa-9ede-45f5-bee6-07f2c8ce780b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "personName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder at Onatrix"
        },
        {
          "alias": "text1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "text2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular."
        },
        {
          "alias": "text3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum."
        },
        {
          "alias": "text4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra."
        },
        {
          "alias": "text5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero."
        },
        {
          "alias": "text6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat."
        },
        {
          "alias": "text7",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra."
        },
        {
          "alias": "text8",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra."
        }
      ]
    },
    {
      "contentTypeKey": "0e997353-17a1-4cbc-9295-59f9fc7e3a7a",
      "key": "4f48f829-1807-4fb8-8775-f99d31174b75",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "GREAT REVIEWS FOR OUR SERVICES"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Trusted by some\u003Cbr\u003EBiggest Names"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals."
        },
        {
          "alias": "ratingImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "601b78da-eed1-4fa4-9038-e9dea423b807",
              "mediaKey": "fb81e42d-c26f-423c-a527-1e2d21b9245c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "personName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Kevin Gardner"
        },
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Swebank"
        },
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3534d70b-aab1-42d0-92d8-12066aec8a6b",
              "mediaKey": "8e6d35a7-905d-4d1d-819d-fdbd5a3af4cb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d821ec20-1c24-4006-a711-82b16b5b3f8e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "08c82421-5341-476e-9131-ef8af666ff43",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2988582b-ae31-4156-829b-74d6dde234e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a2365101-4841-4ed5-b234-39ac15b77353",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4f48f829-1807-4fb8-8775-f99d31174b75",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2988582b-ae31-4156-829b-74d6dde234e3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a2365101-4841-4ed5-b234-39ac15b77353",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4f48f829-1807-4fb8-8775-f99d31174b75",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d821ec20-1c24-4006-a711-82b16b5b3f8e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "08c82421-5341-476e-9131-ef8af666ff43",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>