<?xml version="1.0" encoding="utf-8"?>
<Content Key="616ca21b-356f-4791-8d27-7b529bc3dd14" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2a79aebf-ab44-4a88-b3e0-539aa3178f0f">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-18T21:09:47</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ab038d9a-b288-4176-8b88-8abd9533ef17">ContactPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9e7bfd48-35cc-45ab-a2d6-ec62f1800edd",
      "key": "e36698d0-8281-41d3-8ab2-a26114a0c774",
      "udi": null,
      "values": [
        {
          "alias": "partner1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "282ab428-bbd7-4e82-9748-e768c8bbb2a7",
              "mediaKey": "151665dc-ec3a-4a2a-aa2c-f100e633dc30",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "75842a30-8823-417d-9b78-3c0affd5a4a8",
              "mediaKey": "1d020a2c-3c40-4129-8051-7a48fdde6e47",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5a2a9388-f32d-4bed-b87a-7591912ddf1f",
              "mediaKey": "96ff809d-c469-4ef3-a73f-0a00ef38f8a6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "62fadc4a-05d0-4c44-8c15-00a23ab5a19d",
              "mediaKey": "e2153634-c351-4ca2-a565-e6718cb57390",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f5228617-b0be-4a54-bee9-74e9673d6212",
              "mediaKey": "59fbec0d-997a-4486-b0b4-21a848e38616",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "73cc7c79-89c6-4b02-ae1b-44001829b0de",
              "mediaKey": "53266130-0d72-4185-8f11-79452f194526",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "978d0299-9f86-4b9a-bab2-9ac7976bc195",
      "key": "f1066905-3705-47d8-8f2d-a5204de0128f",
      "udi": null,
      "values": [
        {
          "alias": "bannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        }
      ]
    },
    {
      "contentTypeKey": "ba31e976-0bb9-470e-8457-5480c3ab6be6",
      "key": "3792dc53-8599-43d0-b113-a5b09044e33a",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitleLine1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your"
        },
        {
          "alias": "formTitleLine2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "next project"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas\u003Cbr\u003Econsectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "mapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "446d8aa7-1a12-4306-b94d-265f7db8c53b",
              "mediaKey": "c179c5a6-efab-4ac9-8f77-5d525e6d44ef",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "12ec736e-7bef-45f9-8936-9a359d3dcc57",
      "key": "92002ae9-430a-409d-b2f7-cd0d700bb46d",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b0fe5519-5443-49a5-81af-dc661924ffc5",
              "mediaKey": "ad6f9fcc-b883-4f21-8707-6a9b3bb57d72",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "email",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e36698d0-8281-41d3-8ab2-a26114a0c774",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f1066905-3705-47d8-8f2d-a5204de0128f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3792dc53-8599-43d0-b113-a5b09044e33a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "92002ae9-430a-409d-b2f7-cd0d700bb46d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f1066905-3705-47d8-8f2d-a5204de0128f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "92002ae9-430a-409d-b2f7-cd0d700bb46d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3792dc53-8599-43d0-b113-a5b09044e33a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e36698d0-8281-41d3-8ab2-a26114a0c774",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>