<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a79aebf-ab44-4a88-b3e0-539aa3178f0f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-18T20:03:02</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="056e7248-c34c-41db-b8f2-5a2dbe34762c">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f809d04a-2cd7-43d1-950b-7517585224ee",
      "key": "94b55b7e-2f77-4748-a4e9-6b07f20f4fed",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/616ca21b356f47918d277b529bc3dd14",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8f255ca0-2783-4416-9e21-21ef2d0b85b7",
              "mediaKey": "084be213-6ca0-480f-a78c-e34182a47e6f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "269c7755-df79-4001-ae84-82c69ca109fc",
      "key": "a8bfc01e-faea-46ba-8709-a118af0cb46f",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "fadd952b-5a11-4ebf-aaef-88cd175a6d43",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "28f5086e-308d-4d82-9d53-8a15f27d764b",
                        "mediaKey": "3010dd4e-679b-423c-b905-a311ada73785",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "633147aa-c8f9-4835-9493-22a705d76aac",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "21b091dd-fc6b-4514-b90b-9e55a962106f",
                        "mediaKey": "2a390dfd-4927-4519-9e17-65e26fe31360",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "709673f2-6d96-43a8-87e7-068701177881",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a78ffdf5-7ddc-4f64-8e60-fa7b076ebc1f",
                        "mediaKey": "f583c924-bff0-4195-be17-2e9323449038",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "99ed5a65-f93e-445b-9e9d-1cd83a29cf64",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6affa107-316c-42ab-8661-269916b4ac22",
                        "mediaKey": "943422e6-2cea-453a-9cda-ecb85e281661",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "2ebaee5f-93e3-46ae-903d-0082a02cdc28",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "191ade48-8181-4bf8-a2d7-666ed1cd33ec",
                        "mediaKey": "61b87e6c-0e17-4e13-a8a7-0b2a2a5dd7d8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "057a90b5-5a05-46d3-8695-e7d3fcc06dbd",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "79ef7dc0-5b69-4b9d-bb70-64f4fda54794",
                        "mediaKey": "9e619de6-a035-4ed0-b12f-f6568efacb18",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "fadd952b-5a11-4ebf-aaef-88cd175a6d43",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "633147aa-c8f9-4835-9493-22a705d76aac",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "709673f2-6d96-43a8-87e7-068701177881",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "99ed5a65-f93e-445b-9e9d-1cd83a29cf64",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2ebaee5f-93e3-46ae-903d-0082a02cdc28",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "057a90b5-5a05-46d3-8695-e7d3fcc06dbd",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "fadd952b-5a11-4ebf-aaef-88cd175a6d43",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "633147aa-c8f9-4835-9493-22a705d76aac",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "709673f2-6d96-43a8-87e7-068701177881",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "99ed5a65-f93e-445b-9e9d-1cd83a29cf64",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2ebaee5f-93e3-46ae-903d-0082a02cdc28",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "057a90b5-5a05-46d3-8695-e7d3fcc06dbd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6a1f2f8f-3b53-4c36-8123-956417447139",
      "key": "7608aa5c-809d-455e-90e0-d9843b74a37e",
      "udi": null,
      "values": [
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe have 40 years experience\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "textParagraph1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "textParagraph2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "signatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8c26ce51-1a59-4848-8e7c-f6caa7fc42b9",
              "mediaKey": "8648f655-03ae-4b84-a017-4c76a459b654",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "signatureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "d8b8c390-b407-4dae-a44c-cb6bef8fa326",
      "key": "99351438-b40c-433e-b13f-2e099881c131",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitlePart1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "sectionTitlePart2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "globeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "76416cb1-d5f1-42df-a312-75685047ce64",
              "mediaKey": "f548bd4a-3906-4aeb-8cde-acef4fe7028c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "teamImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "041d7431-d669-4f71-9317-12e35668c44b",
              "mediaKey": "32dc4ec1-e505-42ae-ace5-83f50111f850",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "289ef148-e5bb-4366-bddf-5da51a31f596",
      "key": "61b15718-315a-4e40-94e8-38e1120255bb",
      "udi": null,
      "values": [
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "sectionNumber1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "sectionNumber2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "sectionNumber3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        },
        {
          "alias": "sectionText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 100 customers has been\u003Cbr\u003Eserved"
        },
        {
          "alias": "sectionText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 370 projects has been completed"
        },
        {
          "alias": "sectionText3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 125 branches has been established in Europe and America"
        },
        {
          "alias": "mapBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4faa9af-dc42-44b6-810d-d029ae4a9178",
              "mediaKey": "8576a849-65b8-49db-a1b5-06b403e02729",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "teamImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "88a6a9f8-f73f-4ef2-b8be-d06ef5dbf344",
              "mediaKey": "1007fef1-eab8-48a8-9fa6-d230754417d0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9e7bfd48-35cc-45ab-a2d6-ec62f1800edd",
      "key": "4531b913-f910-47f6-bef3-30c13f00feda",
      "udi": null,
      "values": [
        {
          "alias": "partner1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d3e63dbd-6145-417a-be54-287e1fe0beb7",
              "mediaKey": "151665dc-ec3a-4a2a-aa2c-f100e633dc30",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6a1b49ec-c8e6-4b19-b7ac-51f3e0f7bc1f",
              "mediaKey": "1d020a2c-3c40-4129-8051-7a48fdde6e47",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9118cf18-277a-488c-a202-b5aa0dcccd49",
              "mediaKey": "96ff809d-c469-4ef3-a73f-0a00ef38f8a6",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0a2c29ca-f232-49dc-85d4-d0b8299fe774",
              "mediaKey": "e2153634-c351-4ca2-a565-e6718cb57390",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "eb139885-d96a-4f3d-8a17-486a5b36cd3e",
              "mediaKey": "59fbec0d-997a-4486-b0b4-21a848e38616",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partner6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2fc2c486-b612-49a8-8908-98803159747c",
              "mediaKey": "53266130-0d72-4185-8f11-79452f194526",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "632f7767-1944-477e-b9ca-26e427856acd",
      "key": "8f424686-559b-441a-8892-11a818896174",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "94b55b7e-2f77-4748-a4e9-6b07f20f4fed",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a8bfc01e-faea-46ba-8709-a118af0cb46f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7608aa5c-809d-455e-90e0-d9843b74a37e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "99351438-b40c-433e-b13f-2e099881c131",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61b15718-315a-4e40-94e8-38e1120255bb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4531b913-f910-47f6-bef3-30c13f00feda",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "94b55b7e-2f77-4748-a4e9-6b07f20f4fed",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7608aa5c-809d-455e-90e0-d9843b74a37e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a8bfc01e-faea-46ba-8709-a118af0cb46f",
        "contentUdi": null,
        "settingsKey": "8f424686-559b-441a-8892-11a818896174",
        "settingsUdi": null
      },
      {
        "contentKey": "99351438-b40c-433e-b13f-2e099881c131",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "61b15718-315a-4e40-94e8-38e1120255bb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4531b913-f910-47f6-bef3-30c13f00feda",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>