<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef7266d3-9a19-4c90-95be-8ee98d8c2a10" Alias="Services" Level="2">
  <Info>
    <Parent Key="2a79aebf-ab44-4a88-b3e0-539aa3178f0f">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-18T22:48:57</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1881a2af-367c-4a9c-b380-88b830a73475">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "269c7755-df79-4001-ae84-82c69ca109fc",
      "key": "95bea8e5-f647-43c4-ba76-a3dd3c1c67a3",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "b67cb438-6461-4935-98ba-364bc349c3a5",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "af3566bf-f619-4ee4-96fe-84aab61c817e",
                        "mediaKey": "3010dd4e-679b-423c-b905-a311ada73785",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "64fadd0d-a623-4fe5-b69c-8f8ee43d8daa",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ef17dcd9-ff03-4b32-b6d4-3b5aecdc2215",
                        "mediaKey": "2a390dfd-4927-4519-9e17-65e26fe31360",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "882f846b-36db-4233-a0ec-1997e09e06d9",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f4592533-f69d-4091-99b5-1d92763d4071",
                        "mediaKey": "f583c924-bff0-4195-be17-2e9323449038",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "8832007f-0506-46b0-b516-c1ddd9b1f090",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b3d63100-3fdc-4f96-953e-8613b0fadcef",
                        "mediaKey": "943422e6-2cea-453a-9cda-ecb85e281661",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "57b1e670-61ff-41e8-af54-0a0df77a8306",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1b2c8bfd-897f-441d-bfa1-691156aab256",
                        "mediaKey": "61b87e6c-0e17-4e13-a8a7-0b2a2a5dd7d8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7",
                "key": "ab1d251d-bf25-49b8-90d1-0fe03fb895af",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d2cd7787-4662-42cc-b6b9-c05ceb9bc86f",
                        "mediaKey": "9e619de6-a035-4ed0-b12f-f6568efacb18",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b67cb438-6461-4935-98ba-364bc349c3a5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "64fadd0d-a623-4fe5-b69c-8f8ee43d8daa",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "882f846b-36db-4233-a0ec-1997e09e06d9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8832007f-0506-46b0-b516-c1ddd9b1f090",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "57b1e670-61ff-41e8-af54-0a0df77a8306",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ab1d251d-bf25-49b8-90d1-0fe03fb895af",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b67cb438-6461-4935-98ba-364bc349c3a5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "64fadd0d-a623-4fe5-b69c-8f8ee43d8daa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "882f846b-36db-4233-a0ec-1997e09e06d9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8832007f-0506-46b0-b516-c1ddd9b1f090",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "57b1e670-61ff-41e8-af54-0a0df77a8306",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ab1d251d-bf25-49b8-90d1-0fe03fb895af",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56939161-5419-4958-9e2c-acb41cb12ea8",
      "key": "988085fd-e758-4e5b-a0a9-79c2046d4219",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "email",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ab7db901-681a-4c64-b6da-3da50554b26f",
              "mediaKey": "ad6f9fcc-b883-4f21-8707-6a9b3bb57d72",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "978d0299-9f86-4b9a-bab2-9ac7976bc195",
      "key": "f1bbae95-0662-4d0d-b3f0-cf63a7d54e6f",
      "udi": null,
      "values": [
        {
          "alias": "bannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "632f7767-1944-477e-b9ca-26e427856acd",
      "key": "73c4c744-5ea6-4567-9d61-f8c1b5b90b67",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "95bea8e5-f647-43c4-ba76-a3dd3c1c67a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "988085fd-e758-4e5b-a0a9-79c2046d4219",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f1bbae95-0662-4d0d-b3f0-cf63a7d54e6f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f1bbae95-0662-4d0d-b3f0-cf63a7d54e6f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "95bea8e5-f647-43c4-ba76-a3dd3c1c67a3",
        "contentUdi": null,
        "settingsKey": "73c4c744-5ea6-4567-9d61-f8c1b5b90b67",
        "settingsUdi": null
      },
      {
        "contentKey": "988085fd-e758-4e5b-a0a9-79c2046d4219",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>