<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2ee7bde-ce74-48bf-9358-1bba0ca8b59c" Alias="Contact Page - Onatrix Sections - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page - Onatrix Sections - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9e7bfd48-35cc-45ab-a2d6-ec62f1800edd"
    },
    {
      "contentElementTypeKey": "978d0299-9f86-4b9a-bab2-9ac7976bc195"
    },
    {
      "contentElementTypeKey": "ba31e976-0bb9-470e-8457-5480c3ab6be6"
    },
    {
      "contentElementTypeKey": "12ec736e-7bef-45f9-8936-9a359d3dcc57"
    }
  ]
}]]></Config>
</DataType>