<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57e89b91-4f4c-49c5-a568-411e1cd5efbe" Alias="Onatrix-Sections" Level="1">
  <Info>
    <Name>Onatrix-Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f809d04a-2cd7-43d1-950b-7517585224ee"
    },
    {
      "contentElementTypeKey": "269c7755-df79-4001-ae84-82c69ca109fc",
      "settingsElementTypeKey": "632f7767-1944-477e-b9ca-26e427856acd"
    },
    {
      "contentElementTypeKey": "e1df1416-0165-4af2-bcd3-f67052018e35"
    },
    {
      "contentElementTypeKey": "56939161-5419-4958-9e2c-acb41cb12ea8"
    },
    {
      "contentElementTypeKey": "6a1f2f8f-3b53-4c36-8123-956417447139"
    },
    {
      "contentElementTypeKey": "d8b8c390-b407-4dae-a44c-cb6bef8fa326"
    },
    {
      "contentElementTypeKey": "289ef148-e5bb-4366-bddf-5da51a31f596"
    },
    {
      "contentElementTypeKey": "9e7bfd48-35cc-45ab-a2d6-ec62f1800edd"
    },
    {
      "contentElementTypeKey": "978d0299-9f86-4b9a-bab2-9ac7976bc195"
    },
    {
      "contentElementTypeKey": "6cefb0c8-1289-44a4-8bb7-0a1427188f27"
    },
    {
      "contentElementTypeKey": "0e997353-17a1-4cbc-9295-59f9fc7e3a7a"
    }
  ]
}]]></Config>
</DataType>