<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ce4ccd7-577d-464b-8bab-8667b8f299a2" Alias="Service Detail Page - Onatrix Sections - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Page - Onatrix Sections - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "56939161-5419-4958-9e2c-acb41cb12ea8"
    },
    {
      "contentElementTypeKey": "978d0299-9f86-4b9a-bab2-9ac7976bc195"
    },
    {
      "contentElementTypeKey": "facfb5a4-cc1f-487b-9258-3362865ae1e8"
    }
  ]
}]]></Config>
</DataType>