<?xml version="1.0" encoding="utf-8"?>
<DataType Key="318a5d4e-0b16-4288-93cc-3332e01f3c08" Alias="Service Section - Service Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Section - Service Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "da940b58-202e-41f1-83d8-3dae029739c7"
    }
  ]
}]]></Config>
</DataType>