<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00fbfb86-3215-41d9-8ce3-db5802a4a078" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "db8d52c3-d0b6-4f53-a059-e0a724153e26",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>