<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1bde01b9-210c-462e-93aa-e43091ca09d3" Alias="serviceDetailPage" Level="2">
  <Info>
    <Name>Service Detail Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServiceDetailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a08d6021-aa4c-43e8-ac44-c8dde9016ce1">ServiceDetailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="13162feb-557c-4fe3-beb2-02790084e1c8" SortOrder="0">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ca8ab62c-f286-4efd-856d-cc20e2ac9561</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>5ce4ccd7-577d-464b-8bab-8667b8f299a2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>67a3713f-ad02-4382-ae81-94c5c2d6f857</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>